@import '../Variables';

.features{
    width: 100%;
    padding: 76px 0 64px 0;
    background-color: rgba($mainColor,0.05);
    &_list{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        &-item{
            width: calc((100% / 3) - 21px);
            text-align: center;
            img{
                margin-bottom: 24px;
            }
            .title{
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                margin: 0 0 8px 0;
            }
            .text{
                font-size: 16px;
                line-height: 24px;
                margin: 0;
            }
        }
    }
}